<p style="color: green"><%= notice %></p>

<h1>Perfumes</h1>

<div id="perfumes">
  <% @perfumes.each do |perfume| %>
    <%= render perfume %>
    <p>
      <%= link_to "Show this perfume", perfume %>
    </p>
  <% end %>
</div>

<%= link_to "New perfume", new_perfume_path %>
